* {
  border: none;
  border-radius: 0px;
  font-family: "Fira Code";
  font-size: 14px;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  border-bottom-style: inset;
  border-bottom: 2px solid #458588;
  background: #1d2021;
}

#workspaces,
#clock,
#custom-music,
#window {
  font-weight: 800;
  margin-top: 1px;
}

#window {
  margin-left: 5px;
}

/* Workspace Buttons */
#workspaces button label {
  color: #83a598;
}

#workspaces button {
  color: #83a598;
  border-bottom: 4px solid transparent;
}

#workspaces button.visible {
  border-bottom: 4px solid #83a598;
}

#workspaces button.focused,
#workspaces button.active {
  color: #d79921;
  border-bottom: 4px solid #d79921;
}

#mode {
  background-color: #fb4934;
  color: #1d2021;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
  padding: 0 5px;
  margin: 0 5px;
}

#idle_inhibitor {
  padding: 0 10px;
}

#idle_inhibitor.activated {
  background-color: #b16286;
  color: #1d2021;
}

#custom-music {
  color: #d3869b;
  margin: 0 15px;
  padding: 0 20px;
  border-bottom: 4px solid #d3869b;
}

#clock {
  margin: 0;
  color: #8ec07c;
  border-bottom: 4px solid #8ec07c;
}

#battery {
  color: #fabd2f;
}

#cpu {
  color: #98971a;
}

#memory {
  color: #b8bb26;
}

#network {
  color: #458588;
}

#network.disconnected {
  color: #cc241d;
  border-bottom: 4px solid #cc241d;
}

#pulseaudio {
  color: #689d6a;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #fb4934;
  border-bottom: 4px solid #fb4934;
}

#tray {
  color: #a89984;
}
